tls:
  stores:
    default:
      defaultCertificate:
        certFile: /etc/traefik/dynamic/certs/my-awesome-workspace.localhost.crt
        keyFile: /etc/traefik/dynamic/certs/my-awesome-workspace.localhost.key